nav{
    background-color: #800000;
    font-variant: small-caps;
    font-weight: 700;
}

h5
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 